<div class="card text-white bg-dark mb-3 mt-5" style="max-width:50rem; margin: auto;">
    <div class="card-header">Update Product</div>
    <div class="card-body" *ngIf="product">
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name"
              [(ngModel)]="product.name" required>
          </div>
          <br>
          <div class="form-group">
              <label for="price">Price</label>
              <input type="number" class="form-control" id="price" name="price"
              [(ngModel)]="product.price" required>
          </div>
          <br>
          <button class="btn btn-outline-light btn-block" style="border: none" [disabled]="!f.valid">Update</button>
      </form>
    </div>
  </div>